html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

div#margin{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

header h1 {
  font-size: 100px;
  font-weight: lighter;
  top: -35px;
  position: relative;
}

h2#underheader {
  position: relative;
  top: -100px;
}

body {
  background-color: #333;
  color:#fff;
  text-align: center;
  font-family: arial, sans-serif;
  margin: 0px;
  padding: 0px;
  position: relative;
}

div#navbar {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 41px;
  background: #fff;
  top: 144px;
}

.navtop {
  position: absolute;
  top: 7em;
  width: 96%;
  height: 41px;
  background: inherit;
  font-family: arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  padding: 0 24px;
}

.navtop li {
  display: inline-block;
  padding: 0 100px;
}

.navtop li a {
  margin: 0 auto;
	color: #333;
  text-decoration: none;
}

.navtop li a:hover {
	color: #43BFC7;
  border-bottom: 2px solid #43BFC7;
  padding: 0 0;
}

.container {
  width: 890px;
  margin: 0 auto 60px;
  overflow: hidden;
  position: relative;
  background: #333;
  font-size: 14px;
  line-height: 30px;
}

.intro {
  display: block;
  width: 890px;
  text-align: center;
  padding: 60px 0;
  text-transform: uppercase;
}

.intro h1 {
  color: white;
  line-height: 1;
  margin-bottom: 0;
  font-size: 50px;
  text-align: center;
  display: block;
  font-weight: 900;
}

.intro p {
  font-size: 12px;
  color: #fff;
  font-weight: normal;
  word-spacing: 5px;
  padding: 0 0 0 0;
  letter-spacing: 3px;
  display: inline;
}

form fieldset {
  text-align: left;
  margin-bottom: 45px;
  overflow: hidden;
  border: 0;
}

form fieldset label {
  display: inline-block;
  background: #43BFC7;
  font-style: normal;
  padding: 5px;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: .16em;
  line-height: 12px;
  margin: 0;
}

form input.text, form textarea {
  font-size: 18px;
  color: #43BFC7;
  background: #282320;
  padding: 30px;
  display: block;
  border: none;
  width: 808px;
  outline: none;
  margin: 0;
  position: relative;
  top: -2px;
}

form input.button {
  border: none;
  display: block;
  outline: none;
  margin: 0 60px 0 0;
  padding: 60px;
  font-size: 30px;
  background: white;
  color: #282320;
  text-transform: uppercase;
  float: left;
  font-weight: bold;
  cursor: pointer;
}

form .info {
  width: 505px;
  float: left;
  text-align: left;
}


footer p.copyright {
  padding-top: 10px;
  position: relative;
  top: 240px;
  padding-bottom: 10px;
  font-size: 10px;
  line-height: 15px;

}


.navbot {
  position: relative;
  bottom: 5px;
  width: 100%;
  height: 10px;
  background: inherit;
  font-family: arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
  padding: 0 0;
  bottom: -250px;
}

.navbot li {
  display: inline-block;
  font-stretch: condensed;
  font-size: 12px;
  padding: 0 20px;
}

.navbot li a {
	background: #333;
	color: #fff;
  border-right: 0px solid #fff;
}

.navbot li a:hover {
	color: #43BFC7;
}
